In [4]:
# print ("hello")

money = 3

print (money)

3

In [13]:
5 - 6

-1

In [14]:
print('Hello World!')

Hello World!

In [15]:
print(5, 5 + 5)

5 10

## Section 2: The Print Function

In [16]:
print('Hello, my name is Joshuwa! ')

Hello, my name is Joshuwa!

In [17]:
print?

## The Type Function

In [18]:
type (1)

int

In [19]:
type('snowboard')

str

In [21]:
type(True)

bool

In [22]:
type(None)

NoneType

In [23]:
type([1, 3, 5, 7])

list

In [24]:
type({'a' : 3, 'b' : 5})

dict

## Type Conversion

In [25]:
int ('123') #using int converts the text string of '123' into an integer data type

123

## Type conversion Demo

In [26]:
type (10)

int

In [27]:
type (3.14519)

float

In [28]:
type('skis')

str

In [29]:
type ([2.34, 'skis', None])

list

In [30]:
data_type = type([2.34, 'skis', None])

data_type

list

In [31]:
int('123')

123

In [35]:
int(3.14)

3

## Variables

In [46]:
price = 5 

print(price)

tax = 1

5

In [45]:
print(price + 1)

6

In [48]:
price_list = [2.50, 4.99, 10, None, 'PROMO']

print_price_list = print(price_list)

print_price_list

[2.5, 4.99, 10, None, 'PROMO']

In [49]:
price = 5

In [50]:
price

5

In [56]:
print(price + tax)

tax = 7

55

In [57]:
product_name = 'skis'

print(product_name)

skis

In [58]:
price_list = [2.50, 4.99, 10, None, 'PROMO']

print_price_type = type(price_list)

print_price_type

list

## Varaible Assingment

In [61]:
tax = 2

price = 5

total = price + tax

print(total)

7

## Overwriting Variables

In [62]:
price = 5
price = 6
price = 7

print(price)

7

In [63]:
price = 5
new_price = 6

print(price, new_price)

5 6

In [66]:
price = 5
new_price = 6
price = new_price
new_price = 7

print(price)

6

## Deleting Variables

In [1]:
price = 5
del price

print(price)

NameError: name 'price' is not defined

In [68]:
snowboard_inventory = 100
print(snowboard_inventory)

100

In [69]:
snowboard_inventory = 85
print(snowboard_inventory)

85

In [70]:
snowboard_inventory = 70
print(snowboard_inventory)

70

In [73]:
old_snowboard_inventory = 85
snowboard_inventory = 70

print(old_snowboard_inventory, snowboard_inventory)

85 70

## Tracking my variables

In [77]:
price = 10
product = 'Super Snowbard'
Date = '10-Jan-2021'
dimensions = [160, 25, 2]

%who

Date	 data_type	 dimensions	 new_price	 price	 price_list	 price_lisy	 print_price_list	 print_price_type
product	 product_name	 snowboard_inventory	 tax	 total

In [78]:
snowboard_inventory = 100
new_snowbard_inventory = 85

In [79]:
price = 10
product = 'Super Snowbard'
Date = '10-Jan-2021'
dimensions = [160, 25, 2]

%whos

Variable                 Type        Data/Info
----------------------------------------------
Date                     str         10-Jan-2021
data_type                type        <class 'list'>
dimensions               list        n=3
new_price                int         7
new_snowbard_inventory   int         85
price                    int         10
price_list               list        n=5
price_lisy               list        n=5
print_price_list         NoneType    None
print_price_type         type        <class 'list'>
product                  str         Super Snowbard
product_name             str         skis
snowboard_inventory      int         100
tax                      int         2
total                    int         7

## Numeric Data

In [81]:
 number = 1.9999
type(number)

float

In [82]:
fixed_number = int(number)
fixed_number, type(fixed_number)

(1, int)

In [83]:
number = 1
fixed_number = float(number)
fixed_number, type(fixed_number)

(1.0, float)

In [84]:
text = '1.2'
type(text)

str

In [85]:
fixed_number = float(text)
fixed_number, type(fixed_number)

(1.2, float)

## Arithmetic Operators

In [ ]:
#floor division // divides one value by another, then rounds down to the nearest integer

In [86]:
5 // 3

1

In [87]:
# Modulo % Returns the remainder of a division

In [88]:
5 % 3

2

In [89]:
# Exponentiaiton ** Raises one value to the power of another

In [90]:
5 ** 3

125

In [91]:
3*6 + 5 - 2**3 - 1

14

3*((6 + 5) - 2**(3 - 1))

In [11]:
my_string = '3579'
my_float = 3.579
my_int = 3

int(my_string)
int(my_float)
float(my_string)
float(my_int)

my_int + my_float

my_int - my_float

-0.5790000000000002

## Bread and Apples exercise

In [12]:
bread_price = 2
apple_price = 0.50

bread_quantity = 10
apple_quantity = 5

total_value = (bread_price * bread_quantity) + (apple_price * apple_quantity)

average_price = total_value / (bread_quantity + apple_quantity)

print(total_value)

print(average_price)

22.5
1.5

## Arithmetic Operaters exercise

In [14]:
snowboard_price = 499.99
snowboard_cost = 199.99

gross_profit = snowboard_price - snowboard_cost

gross_profit

300.0

In [16]:
gross_margin = gross_profit / snowboard_price

gross_margin

0.6000120002400048

In [17]:
desired_margin = .7

price_needed = snowboard_cost / (1 - desired_margin)

price_needed

666.6333333333332

In [19]:
tax_rate = .08

sales_tax = tax_rate + snowboard_price

sales_tax

500.07

In [23]:
amount_invested = gross_profit * 5
interest_rate = .05

amount_after_1yr = amount_invested + (amount_invested * interest_rate)

amount_after_1yr

%whos

Variable           Type     Data/Info
-------------------------------------
amount_after_1yr   float    1575.0
amount_invested    float    1500.0
apple_price        float    0.5
apple_quantity     int      5
average_price      float    1.5
bread_price        int      2
bread_quantity     int      10
desired_margin     float    0.7
gross_margin       float    0.6000120002400048
gross_profit       float    300.0
interest_rate      float    0.05
my_float           float    3.579
my_int             int      3
my_string          str      3579
price_needed       float    666.6333333333332
sales_tax          float    500.07
snowboard_coast    float    199.99
snowboard_cost     float    199.99
snowboard_price    float    499.99
tax_rate           float    0.08
total_value        float    22.5

In [21]:
amount_invested

1500.0

In [24]:
round(3.53)

4

In [25]:
round(3.14)

3

In [27]:
scores = (1, 534, 56)

max(scores)

534

In [28]:
scores = (1, 534, 56)

min(scores)

1

In [29]:
scores = (1, 534, 56)

sum(scores)

591

In [30]:
sum((3, 4, 5))

12

In [31]:
min([3, 4, 5])

3

In [32]:
max({3, 4, 5})

5

In [36]:
number = 3.579

round(number)

4

In [37]:
number = 22.5
string = str(number)

string

'22.5'

## String Arithmetic

In [39]:
'Snow' + 'board'

'Snowboard'

In [4]:
'Repeat 3 times: ' + ("my name is joshuwa")  * 3

'Repeat 3 times: my name is joshuwamy name is joshuwamy name is joshuwa'

In [18]:
movie = 'Mega Blockbuster'
print(movie)

movie = 'it\'s a Mega Blockbuster'2

Mega Blockbuster

In [26]:
Movie = 'Mega Blockbuster'
review = ' Was very good'

Movie + review.lower()

'Mega Blockbuster was very good'

In [31]:
message = 'welcome'

message [5]

'm'

In [39]:
message = 'welcome'

message [-5]

message [-4]

'c'

In [37]:
string = "Let's go to the park"

string [-4]

'p'

In [44]:
string = "Let's go to the park"

s = string [4]

p = string [16]

print(p + s)

ps

## Functions

In [19]:
def get_final_price (price, tax):
    return price + tax

price = get_final_price(30, 1.5)
print(price)

31.5

SyntaxError: unterminated string literal (detected at line 3) (364045962.py, line 3)

In [26]:
def get_telephone(prefix, number):
    return prefix + number

def calculate_sum(num_1, num_2):
    return num_1 + num_2

In [28]:
def is_freezing(temperature):
    return temperature < 0

freezing = is_freezing(-3)
print(freezing)

True

In [48]:
def retrieve_score():
    return 100 + 100

print(retrieve_score())

200

## Rock paper sissors project from mimo

In [ ]:
import random

print("Let's play rock, paper, or scissors")

player_choice = input("\nChoose rock, paper, or scissors: ").lower()
choices = ["rock", "paper", "scissors"]
computer_choice = random.choice(choices)
print(f"Computer chose: {computer_choice}")

if (player_choice == "rock" and computer_choice == "scissors") or (player_choice == "scissors" and computer_choice == "paper") or (player_choice == "paper" and computer_choice == "rock"):
  winner = "Player"
elif player_choice == computer_choice:
  winner = "Tie"
else:
  winner = "Computer"

if winner == "Player":
  print("You won")
elif winner == "Computer":
  print("Computer won")
else:
  print("It's a tie")

##Advanced Loop controls

In [74]:
for i in range(1, 6):
    if i == 0:
        continue
    print(i)

1
2
3
4
5

## if, else & elif

In [77]:
def show_score(score):
    if score <30:
        print("Score too low")
    elif score == 100:
        print("Top score!")
    else:
        print("On to the next level!")
show_score(100)

Top score!

In [81]:
def show_status(inbox):
    if inbox > 1000:
        print("Inbox full!")
    print("You have new messages!")
show_status(750)

You have new messages!

## Functions with list

In [86]:
def is_multiplayer(players):
    print(len(players) == 2)

players = ["Amy", "Jay"]
is_multiplayer(players)

True

In [92]:
def display_programme(movies):
    print("Airing tonight:")
    print(movies)

movie_list = ["Alien", "Moon"]
display_programme(movie_list)

Airing tonight:
['Alien', 'Moon']

In [94]:
def count_passengers(passengers):
    print(len(passengers))

passengers = ["June", "Sam", "Lee"]
count_passengers(passengers)

3

In [104]:
def update_first_place(leaderboard, player):
    leaderboard[0] = player
    return leaderboard

leaderboard = ["Jay", "Meg", "Cy"]
leaderboard =
update_first_place(leaderboard, "Lena")

SyntaxError: invalid syntax (1935393624.py, line 6)

In [106]:
def set_initials(names, initial):
    names[0] = initial
    print(names)

author_names = ["Francis", "Scott", "Fitzgerald"]
set_initials(author_names, "F.")

['F.', 'Scott', 'Fitzgerald']